* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

.hero {
    width: 590px;
    height: 485px;
    /* background-color: #1B244A; */
    background-image: url("board2.png");
    background-size: cover;
    background-position: down;
}


.container {
    display: flex;
    justify-content: space-around;

}

h3 {
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 5px;
}

h4 {
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 5px;
}

@font-face {
    font-family: 'digital-clock-font';
    src: url('font/digitalDisplay/Digital\ Dismay.otf');
}

#score-home,
#score-guest {
    width: 155px;
    line-height: 120px;
    background-color: #080001;
    border-radius: 5px;
    color: #f82c51;
    font-size: 7rem;
    font-family: 'digital-clock-font';
    letter-spacing: 5px;
    display: inline-block;
    margin: 0 5px;

}

#period {
    width: 75px;
    height: 55px;
    background-color: #080001;
    border-radius: 5px;
    color: #f82c51;
    font-family: 'digital-clock-font';
    font-size: 3rem;
    margin: 0 auto;
}

.btn-container {
    display: flex;
}

.btn {
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    margin-top: 25px;
    color: #9AABD8;
    margin-right: 5px;
    margin-left: 5px;
    font-family: 'digital-clock-font';
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    background-color: #1B244A;
}

.btn:active {
    transform: scale(0.95);
}

.btn-second {
    display: flex;
    justify-content: center;
    gap: 55px;
}

.btn4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    width: 140px;
    font-size: 1.3rem;
}

.btn5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    width: 100px;
    font-size: 1.3rem;
    align-self: flex-start;
}

.btn5:active {
    box-shadow: 0 0 9px 7px #ff0000;
}


.btn6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    width: 140px;
    font-size: 1.3rem;
}